{% extends "domains/base.html" %} {% load static %} {% block bodyblock %}
<div class="container-login">
  <div class="container container-login" style="text-aling: center">
    {% if domains %}
    <!-- <a href="{% url 'domains:create_domain' %}" >Crear un Dominio</a><br><br> -->
    <button type="button" class="btn btn-outline-dark"  
    onclick="location.href='{% url 'domains:create_domain' %}'">
    Crear un Dominio</button><br><br><br>
    <table class="table" id="tabla1">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Dominio</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Usuario</th>
          <th scope="col">Contraseña</th>
        </tr>
      </thead>
      <tbody style="color: darkslategrey;">
        {% for domain in domains %}
        <tr>
          <td>{{ domain.domain }}</td>
          <td>{{ domain.desciprion }}</td>
          <td>{{ domain.domain_user }}</td>
          <td>{{ domain.passwrd }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h1>No hay dominios registrados!</h1>
    <a href="{% url 'domains:create_domain' %}">Crear un Dominio</a>
    {% endif %}
  </div>
</div>
{% endblock %}
